.main-nav{
    margin-bottom:0;
}
.user-nav{
    background-color:transparent;
    border-bottom:transparent 0px;
}
.user-nav li.active>a{
    /*background-color:#eeeeee;*/
    background-color:#eeeeee;
}
.user-nav li>a{
    color:#888888;
}
.user-greeting{
    margin-left:0;
}
.main-nav i,.user-nav i{
    padding-right:12px;
}
.ajax-form{
    margin-bottom: 20px;
}
.spinner{
    margin-left:5px;
}
.alert{
    transition:opacity 1s;
}
.alert.close{
    opacity:0;
}
.main{
    min-height:550px;
}
.social{
    color:white;
}
.social a{
    font-size:16px;
    color:inherit;
    display:flex;
    justify-content:center;
    align-items:center;
    width:28px;
    height:28px;
    border-radius:50%;
    background-color:#333;
    text-decoration:none;
}
.social a:hover{
    color:#333;
    background-color:lightblue;
}
.top-nav{
    margin-bottom: 0;
}

.store-overlay{
    position: absolute;
    width:100%;
    min-height: 500px;
    height: 100%;
    background-color:rgba(0,0,0,0.3);
    opacity: 0;
    transition:opacity 1s;
    display: flex;
    justify-content:center;
    align-items:center;
    color:white;
}
.store-overlay.visible{
    opacity: 1;
}
.store-products{
    position: relative;
    min-height: 500px;
}
.product-image{
    width:100%;
    margin-bottom: 20px;
}
.product-item{
    margin-bottom:20px;
}
.special-mark{
    display: inline-block;
    margin-left:15px;
    font-size:20px;
    font-weight: 200;
    color:red;
}
.product-button-bar .qty{
   max-width: 60px; 
}
.buy-btn i,.wish-btn i{
    padding-right:5px;
}
.price{
    font-size:18px;
}
.normal-price{
    font-size:20px;
}
.dollar::before{
    display:inline-block;
    padding-right:5px;
}
.dollar::before{
    /*the dollar sign*/
    content:"A\0024";
}
.special-price{
    min-width:80px;
    min-height: 80px;
    max-width:120px;
    background-color:red;
    color:white;
    display: flex;
    justify-content:center;
    align-items:center;
    border-radius: 0 20px 0 20px;
}
.cross{
    text-decoration: line-through;
    font-weight: 200;
    color:#999999;
}
